@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

/* Define CSS variables */
:root {
  --main-bg-color: #151515;
  --secondary-color: #d6a354;
  --text-color: #ffffff;
  --text-color-second: #b78c4b;
  --secondary-bgcolor: #1f1f1f;
  --third-bgcolor: rgb(57, 53, 49);
  /* --container-bg-color: rgb(196, 153, 80); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Header styles */
header {
  height: 110vh;
  width: 99vw;
  background-color: var(--main-bg-color);
  position: relative;
  overflow: hidden;
}

.banner-img {
  background-image: url(./assets/images/manknife.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10%;
}

/* .toggle-icon {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
} */
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  height: 80px;
  width: 100%;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -60px;
}

.logo-text {
  font-size: 30px;
  line-height: 30px;
  color: var(--secondary-color);
  font-weight: 500;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
}

ul li {
  padding: 0 10px;
}

ul li a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.icons {
  width: 15%;
  height: 40px;
}

.icons i {
  color: var(--secondary-color);
  font-size: 35px;
  padding: 10px;
  margin-top: -10px;
}

a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

section {
  position: relative;
  top: 10%;
  margin: 50px;
  width: 35%;
  overflow: hidden;
}
.banner {
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  padding: 25px;
}
.banner-heading {
  font-size: 3.2rem;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner-heading span {
  color: #d6a354;
}

.banner p {
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: var(--text-color);
}
button,
.readmore {
  margin-top: 25px;
  border: 1px solid var(--secondary-color);
  padding: 15px 35px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.btn1 {
  margin-left: 20px;
  background-color: transparent;
}

.btn1:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}

.container {
  position: relative;
  bottom: 10%;
  left: 38%;
  width: 18%;
  height: 150px;
  padding: 7px 10px;
  background: rgb(196, 153, 80);
}

.container-text {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Uchen", serif;
}

.box {
  font-family: "Poppins", sans-serif;
}
.image {
  display: flex;
  align-items: center;
}

.image img,
.content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.name {
  font-size: 1rem;
  margin-bottom: -9px;
}
.statement {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 300;
}

.content {
  position: relative;
  bottom: 60%;
  left: 73%;
  width: 20%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background: rgb(196, 153, 80);
  overflow: hidden;
}

.content h4 {
  font-size: 0.8rem;
  padding: 0 5px;
  font-weight: 400;
  margin-left: 12px;
}

.content img {
  margin-left: 5px;
}

.content p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* about us section styling */
section.about {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px;
  gap: 100px;
  align-items: center;
  background-color: var(--secondary-bgcolor);
}

.experience {
  margin-left: 30px;
}
.experience h3 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--secondary-color);
  font-family: "Uchen", serif;
  line-height: 100px;
  padding-left: 25px;
}
.experience h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 40px;
  color: var(--text-color);
}

.about-context {
  background-color: transparent;
}
.about-context h3,
.header {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "Uchen", serif;
  font-weight: 300;
  color: var(--text-color-second);
}
.about-context p,
.header-paragh {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 1rem;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/* services section styling */
<<<<<<< HEAD
.cards {
=======
/* .cards {
>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
<<<<<<< HEAD
  padding: 30px;
  background-color: var(--main-bg-color);
}
=======
  padding: 50px 90px 0 90px;
  background-color: var(--main-bg-color);
}

.cards .header {
  font-size: 40px;
  letter-spacing: 1px;
}
.header-paragh {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  padding-bottom: 50px;
  color: var(--text-color);
}

>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
.services {
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
/* .cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services {
  display: flex;
  align-items: center;
}
=======
>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
.content1 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
<<<<<<< HEAD
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.3s ease;
}
=======
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  background-color: aquamarine;
}

.content1 img {
  width: 300px;
} */

/* .content1 > * {
  flex: 1 1 100%;
} */

/* 
>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
.content1 .fab {
  font-size: 70px;
  margin: 16px 0;
}
.content1 > * {
  flex: 1 1 100%;
}
<<<<<<< HEAD
.content1:hover {
  color: white;
}
.content1:hover a {
  border-color: white;
  background: white;
}
.content-1:hover {
  border-color: #1da1f2;
  background: #1da1f2;
}
.content-1:hover a {
  color: #1da1f2;
}
.content-2:hover {
  border-color: #e1306c;
  background: #e1306c;
}
.content-2:hover a {
  color: #e1306c;
}
.content-3:hover {
  border-color: #ff0000;
  background: #ff0000;
}
.content-3:hover a {
  color: #ff0000;
}
.content1 h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content1 p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.content1 a {
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.3s ease;
}
.content1 a:hover {
  border-radius: 4px;
}
=======

>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
} */
<<<<<<< HEAD
=======

.cards {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 90px 0 90px;
  background-color: var(--main-bg-color);
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content1 {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  flex: 1;
  max-width: 250px;
  text-align: center;
}

.image1 img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

/* Style the service title */
.content1 h2 {
  font-size: 20px;
  color: #333; /* Text color */
}

/* Style the service description */
.content1 p {
  font-size: 16px;
  color: #777; /* Text color */
}

/* Style the "Read More" link */
.content1 a {
  display: inline-block;
  margin-top: 10px; /* Add spacing above the link */
  text-decoration: none;
  color: #007bff; /* Link color */
  font-weight: bold;
}

.content1 a:hover {
  color: #0056b3; /* Link color on hover */
}
>>>>>>> 2d73a03ebdb7d73b78b5f286852bc6ea53164082
