@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  position: absolute;
}
.banner-img {
  background-image: url(./assets/images/manknife.jpg);
  background-position: center;
  background-size: contain;
  background-size: cover;
  height: inherit;
  width: 50%;
  margin-left: 40%;
  position: absolute;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 30px;
  line-height: 30px;
  color: #d6a354;
  font-weight: 500;
}

ul {
  display: flex;
  width: 50%;
  justify-content: center;
}

ul li {
  list-style: none;
  padding: 0 10px;
}

ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.icons {
  width: 28%;
  height: 40px;
}
.icons i {
  color: #d6a354;
  font-size: 40px;
  padding: 10px;
  margin-top: -10px;
}

a:hover {
  padding: 3px auto;
  background-color: #d6a354;
}

/* .active {
  padding: 3px auto;
  background-color: #d6a354;
} */
section {
  position: relative;
  top: 10%;
  margin: 50px;
  width: 35%;
}

.banner {
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  padding: 25px;
}

.banner-heading {
  font-size: 3.2rem;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner-heading span {
  color: #d6a354;
}

.banner p {
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: #ffffff;
}

button {
  margin-top: 25px;
  border: 1px solid #d6a354;
  padding: 15px 35px;
  background-color: #d6a354;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.btn1 {
  margin-left: 20px;
  background-color: transparent;
}
